
@{
    ViewBag.Title = " : Relaciones Laborales :";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<p>Empresa/Relaciones laborales</p>
<hr />
<div class="row">
    <div class="col-md-10 col-md-offset-0">
        <div class="panel panel-yellow">
            <div class="panel-heading"><p class="text-center">RELACIONES LABORALES</p></div>

            <hr />


            <div class="container">

                <div class="row">
                    <div class="col-xs-4">
                        <div class="row">Estado</div>
                        <select class="form-control">
                            <option>Afiliado</option>
                            <option>Retirado</option>

                        </select>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">Tipo Cotizante</div>
                        <select class="form-control">
                            <option>Opción 1</option>
                            <option>Opción 2</option>
                            <option>Opción 3</option>
                            <option>Opción 4</option>

                        </select>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-primary">Consultar</button>
                    </div>
                </div>


            </div>






            <div class="container">
                <div class="col-md-10 col-md-offset-0">

                    <div class="panel-heading"><p class="text-center"></p></div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th>Tipo de documento</th>
                                        <th>Número de documento</th>
                                        <th>Primer Nombre</th>
                                        <th>Segundo nombre</th>
                                        <th>Primer apellido</th>
                                        <th>Segundo apellido</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cédula</td>
                                        <td>11345678890</td>
                                        <td>Juan</td>
                                        <td>Alberto</td>
                                        <td>Perez</td>
                                        <td>Montes</td>
                                        <td>Afiliado</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>Cédula</td>
                                        <td>712345676</td>
                                        <td>Liliana</td>
                                        <td>Daniela</td>
                                        <td>Soto</td>
                                        <td>Castro</td>
                                        <td>Afiliado</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <hr />
                            <center>
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                            </center>
                        </div>
                    </div>

                </div>











            </div>

        </div>







    </div>
</div>