@model IEnumerable<SG_SST.Models.EmpleadoOrg>
@{
    ViewBag.Title = "prueba";
}

<table class="table table-condensed table-responsive table-bordered">
    <tr>
        <th>Nivel de deficiencia</th>
        <th>Valor de ND</th>
        <th>Significado</th>
    </tr>
    <tr>
        <td>Muy Alto (MA)</td>
        <td>10</td>
        <td>Se ha(n) detectado peligro(s) que determina(n) como posible la generación de incidentes o consecuencias muy significativas, o la eficacia del conjunto de medidas preventivas existentes respecto al riesgo es nula o no existe, o ambos.</td>
    </tr>

</table>



