@model SG_SST.Models.Planificacion.TipoDePeligro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TipoDePeligro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Del_Peligro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Del_Peligro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_Tipo_De_Peligro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
