
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DescargarPlantilla</title>
</head>
<body>
    <div class="col-md-4">
            <button type="button" formmethod="post" id="idDownPlantillaPerfilSocioDemografico" class="boton botonactive">Descargar Plantilla</button>
        </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/Planificacion")
}