<div class="cal_actual">
    <h4>La Calificación Actual de su Diagnóstico es</h4>
    <div>
        <button type="button" class="cal_par btn btn-default btn-lg">CRITERIO</button>
        <button type="button" class="cal_par btn btn-default btn-lg">VALORACIÓN</button>
        <button type="button" class="cal_par btn btn-default btn-lg">ACCIÓN</button>
    </div>
</div>