
@{
    Layout = null; }
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="divimagen" style="text-align:right;"><img src="~/Images/alissta_bn_small.png" alt="" height="50" /></div>
</body>
</html>