@{
 Layout = null; 
 }

<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
    @section Scripts {
        @Scripts.Render("~/bundles/Empresas")
    }
</head>
<body>
    <div class="divimagen" style="text-align:right;"><img alt=""  height="53" id="logo" @*class="img-responsive"*@ /></div>
</body>
</html>
