
.bloqueado {
    background-color: gainsboro !important;
    color: currentColor !important;
}

.cabecera {
    background-color: #7e8a97 !important;
}

.cabeceratitle{
    color: white !important;
}

.error, field-validation-error {
    color: red;
    font-weight: normal;
    font-style: oblique;
    font-size: 12px;
}

.error-dinamico, field-validation-error {
    color: red;
    font-weight: normal;
    font-style: oblique;
    font-size: 12px;
}

.field-validation-error{
    color:red;
}

.capa_loading {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    z-index: 999;
    background-color: rgba(50, 50, 50, 0.95);
    background: rgba(50, 50, 50, 0.95);
    color: rgba(50, 50, 50, 0.95);
    filter: alpha(opacity=60);
}

._loading {
    display: none;
    position: absolute;
    z-index: 1000;
}

.img_loading {
    height: 50px;
    width: 50px;
    display: inline-block;
    _display: inline;
    zoom: 1;
    box-sizing: border-box;
    vertical-align: top;
}

.datepicker {
    z-index: 1151 !important;
}

/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}
.msg-validacion {
color: #f11717;
}
#agr_asp {
    float:right;
}*/

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.aspectos {
    margin-top: 30px;
    /*border-style:groove;*/
}

#tbl_asp label {
    margin-top: 10px;
    margin-right: 104px;
}

#tbl_asp th, td {
    border-style: inset;
}
.calificacion_eval_ini {
    margin-top: 5em;
    margin-left: 13em;
    float: left;
}
.calificacion_eval_ini input {
    width: 3em;
}

.desc_form {
    margin-top: 20px;
    margin-left: 33em;
}

.chk_asp {
    margin-top: 4px !important;
    margin-left: 30px !important;
}

.aspectos {
    max-height: 467px;
    overflow-y: scroll;
}

.txtArea_asp {
    width: 100% !important;
    background-color: transparent !important;
    border: none !important;
    max-width: none;
}

/*estandares minimos*/
.row-centered {
    text-align:center;
}
.ini_est_min {
    width: 100%;
    text-align: center;
    margin-bottom: 3em;
}
.inner_ciclos {
    align-self: center;
    /*width: 70%;*/
    margin: 0 auto;
    display: inline-block;
    margin-top: 3em;
}
.inner_ciclos button {
    padding: 30px 20px;
    color: black !important;
}
.inner_ciclos button.btn-primary, button.btn-primary:hover {
    padding: 29px 32px;
    background-color: #2980B9 !important;
    border-color: #2980B9 !important;
}
.inner-calf-fin-estmin {
    color: black !important;
    background-color: #EAEDED !important;
    border-color: #EAEDED !important;
}
.crit_encabezado {
    width: 100%;
    text-align: center;
}

.inner_encabezado {
    align-self: center;
    width: 70%;
    margin: 0 auto;
}
.inner_criterios {
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
}
.calif_crit {
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
}
.radio_no_aplica {
    margin-left: 3em;
}

.paginado {
    width: 100%;
    text-align: center;
}

.inner_paginado {
    align-self: center;
    margin-top: 3em;
    margin-bottom: 2em;
}
.btn-info-parcial {
    margin-top: 20px;
    float: right;
}

.btn-guardar {
    margin-top: -6em;
    float: right;
    margin-right: 2em;
}

.textarea-criterios {
    background-color: transparent !important;
}

.inner-actividades {
    width: 600px !important;
}

.lbl-activ {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.nueva-activ {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    width: 398px !important;
    height: 3em !important;
}

.resp-actv {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    width: 291px !important;
    height: 3em !important;
}

.fecha-fin-activ {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    width: 18em !important;
    height: 3em !important;
}

.input-fecha-fin-actv {
    width: 18em !important;
    height: 3em !important;
}

.ico-fecha-fin-activ {
    margin-top: 15px !important;
    margin-left: 20px !important;
}
#btn_nuev_asp {
    float: right;
    margin-top: 3em;
    margin-right: 3em;
}
#btn_crear_act {
    float: right;
    margin-top: 2em;
}

#btn_edit_act {
    float: right;
    margin-top: 2em;
}

.msg-validacion {
    margin-left: 20px;
    color: red;
    font-size: 12px;
    font-style: italic;
    display: none;
}

.container-actividades {
    display: none;
}

.titulo-actividades-agr {
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    font-weight: bold;
}
.head-activ{
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dcd7d7;
}
.btn-popup-activ{
    padding: 0px 1px !important;
}
.inner-actividades-agr {
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 2em;
    margin-bottom: 2em;
}
.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dcd7d7;
}
.calficacion-final-estmin{
    width: 100%;
    text-align: center;
}
.inner-calf-fin-estmin {
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 2em;
    margin-bottom: 2em;
}
.cal_actual h4{
    margin-bottom:2em;
    font-weight:600;
}
.btns_estmin {
    margin-top:3em;
}
.popup_ayuda {
 float: right;
}

.container-graficas {
    width: 100%;
    text-align: center;
    margin-bottom: 3em;
}
.inner-graficas {
    align-self: center;
    width: 70%;
    margin: 0 auto;
    display: inline-block;
    margin-top: 3em;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.grid .tick {
    stroke: lightgrey !important;
    stroke-opacity: 0.7 !important;
    shape-rendering: crispedges !important;
}
.grid path {
    stroke-width: 0;
}
.texto-sgsst {
    margin-top: 3em;
    text-align:center !important;
    font-size: 10px;
    font-weight: 600;
}
.datos-indicadores {
    width: 100%;
    overflow:auto;
}
.indicadores-centre-align {
    padding: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.indicadores-content {
    display: inline-block;
    vertical-align: top; /* Removes the extra white space below the baseline */
}
.total-indicadores{
    color: darkred;
}
.indicadores-acumuladoTotal{
    text-align:center;
}
.opciones-indicadores {
    width: 100%;
    text-align: center;
    margin-bottom: 3em;
    display:none;
}
.inner-opc-indicadoes {
    /*align-self: center;*/
    /* width: 70%; */
    margin: 0 auto;
    display: inline-block;
    /*margin-top: 3em;*/
}
.campos-comparacion-indicadores {
    width: 100%;
    font-size: smaller;
    /*text-align: center;    */
    display:none;
}
.inner-campos-indicadoes{
    /*align-self: center;*/
    margin: 0 auto;
    display: inline-block;
    /*margin-top: 3em;*/
}
.campos-consultar-comparacion-indicadores{
     width: 100%;
    /*text-align: center;*/
    margin-bottom: 3em;
    display:none;
}
.inner-consultar-comparacion-indicadoes{
    align-self: center;
    /*width: 40%;*/ 
    margin: 0 auto;
    display: inline-block;
    /*margin-top: 3em;*/
}
#Indicadores {
    overflow:auto;
}

#Acumulado {
    overflow: auto;
}
.aprob-usuario th{
    font-size: 10px;
    color:black;
    font-weight: bold !important;
    background-color: #7e8a97 !important;
}
.aprob-usuario td{
    font-size: 10px;
    font-weight: 500 !important;
    align-content:center;
    text-align: center;
}
a.msg-ayuda label {
    display:none;
}
a.msg-ayuda:hover label {
        width:auto;
        display:block;
        padding: .5em;
        text-align: center;
        background: rgba(0,0,0,.8);
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        color: #fff;
        font-size: 0.9em;
        margin: 0;
        position: absolute;
        vertical-align:top;
        z-index: 100;
    }
.listado-ausencias {
    margin: 0em !important;
}


