@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p class="panel-footer">@DateTime.Now</p>
    <div class="divimagen" style="text-align:right;"><img src="~/Images/alissta_bn_small.png" alt="" height="50" /></div>
</body>
</html>

