@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/Content/miga-de-pan.css" rel="stylesheet">
<!-- Referencia a botones -->
<link rel="stylesheet" href="~/Content/css/specialbuttons.css">
<script src="~/Scripts/tinymce/tinymce.min.js"></script>

<style>
    .plabel {
        border: none;
    }

    .noborder {
        border: none;
        padding: 4px 4px 4px 4px;
    }

    body {
        font-family: Gill Sans MT;
        padding: 10px;
    }

    fieldset {
        border: solid 1px lightslategray;
        padding: 10px;
        display: block;
        clear: both;
        margin: 5px 0px;
    }

    legend {
        padding: 0px 10px;
        background: lightslategray;
        color: black;
        border: solid 1px black;
    }

    input.add {
        float: right;
    }

    input.fieldname {
        float: left;
        clear: left;
        display: block;
        margin: 5px;
    }

    select.fieldtype {
        float: left;
        display: block;
        margin: 5px;
    }

    input.remove {
        float: left;
        display: block;
        margin: 5px;
    }

    #yourform label {
        float: left;
        clear: left;
        display: block;
        margin: 5px;
    }

    #yourform input, #yourform textarea {
        float: left;
        display: block;
        margin: 5px;
    }
</style>
<ol class="breadcrumb">
    <li><a href="javascript:void(0)">Reporte e Investigacion</a></li>
    <li><a href="javascript:void(0)">Investigacion, Incidentes, Accidentes y E.L</a></li>
    <li class="active">Consultas</li>
</ol>
<br />
@*<div class="panel panel-default std-panel-body" style="background-color: rgba(196, 202,196, 0.1)">
    <div class="panel-heading" style="color:white">
        CONSULTAS
    </div>

    <div class="panel-body form-horizontal">
        <center>
            <table width="59%" border="0">
                <tr>
                    <td width="19%">Fecha Inicio</td>
                    <td width="13%">input fecha</td>
                    <td width="26%">Fecha Fin</td>
                    <td width="36%">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table width="95%" border="0">
                            <tr>
                                <td width="14%">Incidente</td>
                                <td width="10%">check</td>
                                <td width="17%">Accidente</td>
                                <td width="12%">check</td>
                                <td width="36%">Enfermerdad Laboral</td>
                                <td width="11%">check </td>
                            </tr>
                        </table>
                    </td>
                    <td>boton consultar</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <table width="70%" border="0">
                            <tr>
                                <td>Tipo Investigacion</td>
                                <td>Fecha de Registro</td>
                                <td>Acciones</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </center>
    </div>
</div>*@

<br />