@{
    ViewBag.Title = "Auditorias";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/Content/miga-de-pan.css" rel="stylesheet">
<!-- Referencia a botones -->
<link rel="stylesheet" href="~/Content/css/specialbuttons.css">


<div class="panel panel-default std-panel-body">
    <div class="panel-heading panel-heading-custom">AUDITORIAS</div>
    <div class="panel-body">
        <div class="col-sm-12">
            <span style="text-align:center">@ViewBag.Mensaje</span>
            <br />
        </div>
    </div>
</div>
