
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Política SST / Cargar Política

<link href="~/Content/Site.css" rel="stylesheet" />

<hr />
<div class="row">
    <div class="col-md-10 col-md-offset-0">
        <div class="panel panel-yellow">
            <div class="panel-heading"><p class="text-center">POLITICA DE SEGURIDAD</p></div>

            <hr />
            <div class="row">


                <div class="col-sm-4">

                    <div class="col-lg-10">
                        <form action="file2.php" method="post" enctype="multipart/form-data">
                            Seleccione el archivo:<br />
                            <input type="file" name="archivo_foto"><br>
                            <input type="submit" value="Aceptar">
                        </form>

                        
                    </div>

                </div>

            </div>

            <hr />
            <div class="row">
                <div>
                    <div class="col-sm-12">
                        <div class="col-lg-10">
                                                        
                           
                            
                        </div>
                    </div>

                </div>
            </div>






        </div>

    </div>

</div>

