@{
    Layout = null; }
<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:18px;text-align:left;margin:0px;">
    <div style="margin-bottom:4px;">
        <b>RAZÓN SOCIAL </b>@ViewBag.NombreEmpresa - <b>NIT </b>@ViewBag.NitEmpresa
    </div> <div>
            <br><b>@ViewBag.NombreInforme</b>
</div>
    <hr />
</body>
</html>