
/*---------formulario----------*/

.linea01{padding: 0 0 0 0;}
.linea02{padding: 0 0 0 0;}
.linea02 input {
	width: 95%;
	height: 34px;
	border-radius: 4px;
	border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.check{width: auto;display: inline-block;vertical-align: top;}
.note{margin:20px 0 10px 0}

.seccion03{text-align: center;}

.btn_finales{background: #555;width: 200px;height: 30px;padding: 0 0 0 0;text-align: center;color:#FFF;border: none;}
.btn_finales:hover{background: #333;}

.ind{width: auto;display: inline-block;font-size: 0.8em;}
.seccion4_comment {width: 100%;height: 100px;color: #BBB;padding: 7px 12px;}

.check02 {width: auto;height: 25px;display: inline-block;vertical-align: middle;}
.check02 input{width: 20px !important;height: auto;display: inline-block !important;vertical-align: top;}
.check02 p {width: auto !important;display: inline-block !important;vertical-align: middle;}

.check03 {width: 60px;height: 25px;display: inline-block;vertical-align: middle;}
.check03 input {width: 20px !important;height: auto;display: inline-block !important;vertical-align: top;}
.check03 p{width: 20px !important;display: inline-block !important;    vertical-align: middle;}

.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}
.bootstrap-iso form button,
.bootstrap-iso form button:hover{color: white !important;}
.asteriskField{color: red;}
.bootstrap-iso .input-group .form-control {width: 94% !important; }

/*-----------Formulario2------------*/

.container h2{font-size: 0.9em;font-weight: 600;font-family: helvetica;margin: 10px 0;}

.seccion01 {
    padding: 0 0 0 0;
    border-radius: 10px;
    border: 1px solid #DDD;
    margin: 0 0 10px 0;
}

.seccion01 h2{
    background: #DDD;
    padding: 7px 15px;
    margin: 0 0 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seccion01-A {
    padding: 0 0 0 0;
    border-radius: 10px;
    border: 1px solid #DDD;
    margin: 0 0 10px 0;
}

.seccion01-A h2 {
    background: #DDD;
    padding: 10px 15px;
    margin: 0 0 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sec01{
    width: 61%;
    border-top-right-radius: 0px !important;
    display: inline-block;
    vertical-align: top;
}

.sec02{
    padding: 0 0 0 0;
    margin: 0 0 0 -3px;
    width: 38.8%;
    display: inline-block;
    vertical-align: top;
}

.sec02 h2 {
    background: #FFF;
    border-top-left-radius: 0px !important;
    padding: 2px 0 0 7px;
    font-size: 0.8em;
}

.sec01-A{
    width: 35%;
    border-top-right-radius: 0px !important;
    display: inline-block;
    vertical-align: top;
}

.sec02-A{
    padding: 0 0 0 0;
    margin: 0 0 0 -3px;
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.sec02-A h2 {
    background: #FFF;
    border-top-left-radius: 0px !important;
    padding: 2px 0 0 7px;
    font-size: 0.8em;
}

.sec03-A {
    padding: 0 0 0 0;
    margin: 0 0 0 -3px;
    width: 16.82%;
    display: inline-block;
    vertical-align: top;
}

.sec03-A h2 {
    background: #FFF;
    border-top-left-radius: 0px !important;
    padding: 2px 0 0 7px;
    font-size: 0.8em;
}

.sec03-A input {
  width: 100%;
}



.seccion02{padding: 0 0 0 0;}

.seccion02 h2{
    background: #EEE;
    padding: 3px 13px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.seccion02 input{
    width: 100%;
}

.sectores{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.date-01{
    width: 32% !important; 
}

.Listas {
    width: 19.73%;
    height: 430px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 1px solid #DDD;
}

.Listas ul{
    margin: 0 0 0 0;
    padding: 10px 0 0 10px;
}

.Listas ul li{
    list-style: none;
}

.Listas ul li p {
    font-size: 0.8em;
    display: inline-block;
    vertical-align: top;
    width: 85%;
    margin: 0 5px 0 0;
}

.sem{
    font-size: 0.8em !important;
    padding: 3.5px 12px !important;
}

.sem1 {
    display: inline-block;
    vertical-align: top;
    padding: 4px 5px;
    font-size: 0.8em;
}

.sem2{
    display: inline-block !important;
    vertical-align: top !important;
    width: 41% !important;
}

.sem3{
    background: none !important;
    border-top: 1px solid #DDD !important;
    padding: 5px 10px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    font-size: 0.8em !important;
}

.sem4{
    margin: 0 0 0 0;
    padding: 5px 0 5px 10px;
}

.sem5{
    width: auto;
    vertical-align: top;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0 0 0;
}

.sem6{
    width: 31%;
}

.nit2 h2 {
    font-size: 2.2em;
    margin: 0 0 0 0;
    text-align: center;
    padding: 20px 0 0 0;
    font-weight: 400;
    background: none;
}

.nit2 strong {
    margin: 0 0 0 0;
    text-align: center;
    padding: 50px 0;
    color: #DD0021;
    font-weight: 400;
}

.check-cc2 {
    width: 53%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 5px;
    border-left: 1px solid #DDD;
}

.check-cc2 p {
    margin: 0 0 0 0;
    width: auto!important;
    display: inline-block !important;
    font-size: 0.9em;
}

.check-cc2 input {
    width: 90% !important;
    height: auto;
    display: inline-block !important;
    vertical-align: top;
}

.check01 {
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
.check01 input{width: 20px !important;height: auto;display: inline-block !important;vertical-align: top;}
.check01 p{width: auto!important;display: inline-block !important;vertical-align: middle;font-size: 0.9em; margin: 0 0 0 0;}

.check-cc{
    width: 61%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 5px;
    border-left: 1px solid #DDD;
}

.check-cc p{
    margin: 0 0 0 0;
    width: auto!important;
    display: inline-block !important;
    font-size: 0.9em;
}

.check-cc input{width: 93% !important;height: auto;display: inline-block !important;vertical-align: top;}


.text-in{
    margin: 0 0 0 0;
    padding: 3px 10px;
    font-size: 0.8em;
}

.grado01{border-bottom-left-radius: 10px;border: 1px solid #DDD;height: 26px;
}
.grado02{border-bottom-right-radius: 10px;border: 1px solid #DDD;height: 26px;
}

.name_for{padding: 0 0 0 0;font-size: 1em ;font-weight: 600 ;font-family: helvetica ;}

.logo {
    text-align: center;
}
.logo h2{
    font-size: 1.2em;
    font-weight: 600;
    margin: 5px 0 0 0;
}
.logo p{
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 0 0;
}

.titulo h2{
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 0 0;
    padding: 40px 0;
}

.nit h2{
    font-size: 2.2em;
    margin: 0 0 0 0;
    text-align: center;
    padding: 50px 0;
    font-weight: 400;
}

.nit strong{
    margin: 0 0 0 0;
    text-align: center;
    padding: 50px 0;
    color: #DD0021;
    font-weight: 400;
}

.note {padding: 0 150px;
    margin: 0 0 0 0;}

.note h2 {
    text-align: center;
    text-transform: uppercase;
}
.note p {
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    margin: 0 0 0 0;
}

/*-----------MediaQuaery------------*/

@media (max-width: 970px){
          .linea02 input { width: 100%;}
          .name_for {padding: 5px 0 5px 0;text-align: center;}
          .btn_finales {width: 160px;display: inline-block;vertical-align: top;margin: 7px 0 0 0;}
          .check01 {width: 60px;}
          .check03 {width: 44px;}


          .titulo h2 {padding: 10px 0;}
          .nit h2 {padding: 15px 0;}
          .nit strong {padding: 0px 0;}
          .note {padding: 0 10px;}
}          


