/*---------formulario----------*/

.container h2{font-size: 1em;font-weight: 600;font-family: helvetica;margin: 10px 0;}

.linea01{padding: 0 0 0 0;}
.linea02{padding: 0 0 0 0;}
.linea02 input {
	width: 95%;
	height: 34px;
	border-radius: 4px;
	border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.check{width: auto;display: inline-block;vertical-align: top;}
.check01 {width: 65px;height: 25px;display: inline-block;vertical-align: middle;}
.check01 input{width: 20px !important;height: auto;display: inline-block !important;vertical-align: top;}
.check01 p{width: 20px !important;display: inline-block !important;vertical-align: middle;}
.check01 label {width: 20px !important;display: inline !important;vertical-align: middle; font-weight:normal;}

.note{margin:20px 0 10px 0}
.formulario{border: 1px solid #BBB;padding: 10px 35px;}
.name_for{padding: 0 0 0 0;font-size: 1em ;font-weight: 600 ;font-family: helvetica ;}

.seccion01{padding: 0 0 0 0;}
.seccion02{border: 1px solid #BBB;margin: 5px 0 5px 0;padding: 10px;}
.seccion03{text-align: center;}
.seccion04 {text-align: right; font-size: 1.5em;}
.seccion04 a {color: #888 !important;}

.btn_finales{background: #555;width: 200px;height: 30px;padding: 0 0 0 0;text-align: center;color:#FFF;border: none;}
.btn_finales:hover{background: #333;}

.ind{width: auto;display: inline-block;font-size: 0.8em;}
.seccion4_comment {width: 100%;height: 100px;color: #BBB;padding: 7px 12px;}

.check02 {width: auto;height: 25px;display: inline-block;vertical-align: middle;}
.check02 input{width: 20px !important;height: auto;display: inline-block !important;vertical-align: top;}
.check02 p {width: auto !important;display: inline-block !important;vertical-align: middle;}
.check02 label {width: auto !important;display: inline !important;vertical-align: middle; font-weight:normal;}

.check03 {width: 60px;height: 25px;display: inline-block;vertical-align: middle;}
.check03 input {width: 20px !important;height: auto;display: inline-block !important;vertical-align: top;}
.check03 p{width: 20px !important;display: inline-block !important;    vertical-align: middle;}
.check03 label {width: 20px !important;display: inline !important;    vertical-align: middle; font-weight:normal;}

.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}
.bootstrap-iso form button,
.bootstrap-iso form button:hover{color: white !important;}
.asteriskField{color: red;}
.bootstrap-iso .input-group .form-control {width: 94% !important; }

/*-----------MediaQuaery------------*/

@media (max-width: 970px){
    .linea02 input { width: 100%;}
    .name_for {padding: 5px 0 5px 0;text-align: center;}
    .btn_finales {width: 160px;display: inline-block;vertical-align: top;margin: 7px 0 0 0;}
    .check01 {width: 60px;}
    .check03 {width: 44px;}
}          
