.planificacion-evaluacionsg-sst {
    background-image: url('../../Images/iconos/submenus/planificacion-evaluacionsg-sst.png');
}

.aplicacion-administracion:hover,
.aplicacion-administracion:active {
    background-image: url('../../Images/iconos/submenus/aplicacion-administracion-h.png');
}

.aplicacion-administracion {
    background-image: url('../../Images/iconos/submenus/aplicacion-administracion.png');
}

.aplicacion-administracion2:hover,
.aplicacion-administracion2:active {
    background-image: url('../../Images/iconos/submenus/aplicacion-administracion2-h.png');
}

.aplicacion-administracion2 {
    background-image: url('../../Images/iconos/submenus/aplicacion-administracion2.png');
}

.aplicacion-adquisiciones:hover,
.aplicacion-adquisiciones:active {
    background-image: url('../../Images/iconos/submenus/aplicacion-adquisiciones-h.png');
}

.aplicacion-adquisiciones {
    background-image: url('../../Images/iconos/submenus/aplicacion-adquisiciones.png');
}

.aplicacion-gestion:hover,
.aplicacion-gestion:active {
    background-image: url('../../Images/iconos/submenus/aplicacion-gestion-h.png');
}

.aplicacion-gestion {
    background-image: url('../../Images/iconos/submenus/aplicacion-gestion.png');
}

.aplicacion-inspecciones:hover,
.aplicacion-inspecciones:active {
    background-image: url('../../Images/iconos/submenus/aplicacion-inspecciones-h.png');
}

.aplicacion-inspecciones {
    background-image: url('../../Images/iconos/submenus/aplicacion-inspecciones.png');
}

.aplicacion-medidas:hover,
.aplicacion-medidas:active {
    background-image: url('../../Images/iconos/submenus/aplicacion-medidas-h.png');
}

.aplicacion-medidas {
    background-image: url('../../Images/iconos/submenus/aplicacion-medidas.png');
}

.empresa-consideraciones:hover,
.empresa-consideraciones:active {
    background-image: url('../../Images/iconos/submenus/empresa-consideraciones-h.png');
}

.empresa-consideraciones {
    background-image: url('../../Images/iconos/submenus/empresa-consideraciones.png');
}

.empresa-datos:hover,
.empresa-datos:active {
    background-image: url('../../Images/iconos/submenus/empresa-datos-h.png');
}

.empresa-datos {
    background-image: url('../../Images/iconos/submenus/empresa-datos.png');
}

.empresa-gobierno:hover,
.empresa-gobierno:active {
    background-image: url('../../Images/iconos/submenus/empresa-gobierno-h.png');
}

.empresa-gobierno {
    background-image: url('../../Images/iconos/submenus/empresa-gobierno.png');
}

.empresa-relaciones:hover,
.empresa-relaciones:active {
    background-image: url('../../Images/iconos/submenus/empresa-relaciones-h.png');
}

.empresa-relaciones {
    background-image: url('../../Images/iconos/submenus/empresa-relaciones.png');
}

.empresa-usuarios:hover,
.empresa-usuarios:active {
    background-image: url('../../Images/iconos/submenus/empresa-usuarios-hover.png');
}

.empresa-usuarios {
    background-image: url('../../Images/iconos/submenus/empresa-usuarios.png');
}

.empresa-sedes:hover,
.empresa-sedes:active {
    background-image: url('../../Images/iconos/submenus/empresa-sedes-hover.png');
}

.empresa-sedes {
    background-image: url('../../Images/iconos/submenus/empresa-sedes.png');
}

.empresa-estandares:hover,
.empresa-estandares:active {
    background-image: url('../../Images/iconos/submenus/empresa-estandares-hover.png');
}

.empresa-estandares {
    background-image: url('../../Images/iconos/submenus/empresa-estandares.png');
}

.liderazgo-presupuesto:hover,
.liderazgo-presupuesto:active {
    background-image: url('../../Images/iconos/submenus/liderazgo-presupuesto-h.png');
}

.liderazgo-presupuesto {
    background-image: url('../../Images/iconos/submenus/liderazgo-presupuesto.png');
}

.liderazgo-roles:hover,
.liderazgo-roles:active {
    background-image: url('../../Images/iconos/submenus/liderazgo-roles-h.png');
}

.liderazgo-roles {
    background-image: url('../../Images/iconos/submenus/liderazgo-roles.png');
}

.liderazgo-mailbox:hover,
.liderazgo-mailbox:active {
    background-image: url('../../Images/iconos/submenus/liderazgo-mailbox.png');
}

.liderazgo-mailbox {
    background-image: url('../../Images/iconos/submenus/liderazgo-mailbox-h.png');
}

.liderazgogerencial-redencioncuentas:hover,
.liderazgogerencial-redencioncuentas:active {
    background-image: url('../../Images/iconos/submenus/liderazgogerencial-redencioncuentas-hover.png');
}

.liderazgogerencial-redencioncuentas {
    background-image: url('../../Images/iconos/submenus/liderazgogerencial-redencioncuentas.png');
}

.medicionsst-acciones:hover,
.medicionsst-acciones:active {
    background-image: url('../../Images/iconos/submenus/medicionsst-acciones-h.png');
}

.medicionsst-acciones {
    background-image: url('../../Images/iconos/submenus/medicionsst-acciones.png');
}

.medicionsst-auditorias:hover,
.medicionsst-auditorias:active {
    background-image: url('../../Images/iconos/submenus/medicionsst-auditorias-h.png');
}

.medicionsst-auditorias {
    background-image: url('../../Images/iconos/submenus/medicionsst-auditorias.png');
}

.medicionsst-indicadores:hover,
.medicionsst-indicadores:active {
    background-image: url('../../Images/iconos/submenus/medicionsst-indicadores-h.png');
}

.medicionsst-indicadores {
    background-image: url('../../Images/iconos/submenus/medicionsst-indicadores.png');
}

.medicionsst-planes:hover,
.medicionsst-planes:active {
    background-image: url('../../Images/iconos/submenus/medicionsst-planes-h.png');
}

.medicionsst-planes {
    background-image: url('../../Images/iconos/submenus/medicionsst-planes.png');
}

.medicionsst-reportes:hover,
.medicionsst-reportes:active {
    background-image: url('../../Images/iconos/submenus/medicionsst-reportes-h.png');
}

.medicionsst-reportes {
    background-image: url('../../Images/iconos/submenus/medicionsst-reportes.png');
}

.organizacion-competenciassst:hover,
.organizacion-competenciassst:active {
    background-image: url('../../Images/iconos/submenus/organizacion-competenciassst-h.png');
}

.organizacion-competenciassst {
    background-image: url('../../Images/iconos/submenus/organizacion-competenciassst.png');
}

.organizacion-comunicacion:hover,
.organizacion-comunicacion:active {
    background-image: url('../../Images/iconos/submenus/organizacion-comunicacion-h.png');
}

.organizacion-comunicacion {
    background-image: url('../../Images/iconos/submenus/organizacion-comunicacion.png');
}

.organizacion-documentacion:hover,
.organizacion-documentacion:active {
    background-image: url('../../Images/iconos/submenus/organizacion-documentacion-h.png');
}

.organizacion-documentacion {
    background-image: url('../../Images/iconos/submenus/organizacion-documentacion.png');
}

.organizacion-plan:hover,
.organizacion-plan:active {
    background-image: url('../../Images/iconos/submenus/organizacion-plan-h.png');
}

.organizacion-plan {
    background-image: url('../../Images/iconos/submenus/organizacion-plan.png');
}

.organizacion-recursos:hover,
.organizacion-recursos:active {
    background-image: url('../../Images/iconos/submenus/organizacion-recursos-h.png');
}

.organizacion-recursos {
    background-image: url('../../Images/iconos/submenus/organizacion-recursos.png');
}

.participacion-comites:hover,
.participacion-comites:active {
    background-image: url('../../Images/iconos/submenus/participacion-comites-h.png');
}

.participacion-comites {
    background-image: url('../../Images/iconos/submenus/participacion-comites.png');
}

.participacion-consultasst:hover,
.participacion-consultasst:active {
    background-image: url('../../Images/iconos/submenus/participacion-consultasst-h.png');
}

.participacion-consultasst {
    background-image: url('../../Images/iconos/submenus/participacion-consultasst.png');
}

.participacion-reportes:hover,
.participacion-reportes:active {
    background-image: url('../../Images/iconos/submenus/participacion-reportes-h.png');
}

.participacion-reportes {
    background-image: url('../../Images/iconos/submenus/participacion-reportes.png');
}

.planificacion-ausentismo:hover,
.planificacion-ausentismo:active {
    background-image: url('../../Images/iconos/submenus/planificacion-ausentismo-h.png');
}

.planificacion-ausentismo {
    background-image: url('../../Images/iconos/submenus/planificacion-ausentismo.png');
}

.planificacion-dx:hover,
.planificacion-dx:active {
    background-image: url('../../Images/iconos/submenus/planificacion-dx-h.png');
}

.planificacion-dx {
    background-image: url('../../Images/iconos/submenus/planificacion-dx.png');
}

.planificacion-evaluacionsg-sst:hover,
.planificacion-evaluacionsg-sst:active {
    background-image: url('../../Images/iconos/submenus/planificacion-evaluacionsg-sst-h.png');
}

.planificacion-identificacion:hover,
.planificacion-identificacion:active {
    background-image: url('../../Images/iconos/submenus/planificacion-identificacion-h.png');
}

.planificacion-identificacion {
    background-image: url('../../Images/iconos/submenus/planificacion-identificacion.png');
}

.planificacion-objetivossg-sst:hover,
.planificacion-objetivossg-sst:active {
    background-image: url('../../Images/iconos/submenus/planificacion-objetivossg-sst-h.png');
}

.planificacion-objetivossg-sst {
    background-image: url('../../Images/iconos/submenus/planificacion-objetivossg-sst.png');
}

.planificacion-perfil:hover,
.planificacion-perfil:active {
    background-image: url('../../Images/iconos/submenus/planificacion-perfil-h.png');
}

.planificacion-perfil {
    background-image: url('../../Images/iconos/submenus/planificacion-perfil.png');
}

.planificacion-plan:hover,
.planificacion-plan:active {
    background-image: url('../../Images/iconos/submenus/planificacion-plan-h.png');
}

.planificacion-plan {
    background-image: url('../../Images/iconos/submenus/planificacion-plan.png');
}

.planificacion-prevencion:hover,
.planificacion-prevencion:active {
    background-image: url('../../Images/iconos/submenus/planificacion-prevencion-h.png');
}

.planificacion-prevencion {
    background-image: url('../../Images/iconos/submenus/planificacion-prevencion.png');
}

.planificacion-requisitos:hover,
.planificacion-requisitos:active {
    background-image: url('../../Images/iconos/submenus/planificacion-requisitos-h.png');
}

.planificacion-requisitos {
    background-image: url('../../Images/iconos/submenus/planificacion-requisitos.png');
}

.politica-otras:hover,
.politica-otras:active {
    background-image: url('../../Images/iconos/submenus/politica-otras-h.png');
}

.politica-otras {
    background-image: url('../../Images/iconos/submenus/politica-otras.png');
}

.politica-politica:hover,
.politica-politica:active {
    background-image: url('../../Images/iconos/submenus/politica-politica-h.png');
}

.politica-politica {
    background-image: url('../../Images/iconos/submenus/politica-politica.png');
}

.reporte-estudio:hover,
.reporte-estudio:active {
    background-image: url('../../Images/iconos/submenus/reporte-estudio-h.png');
}

.reporte-estudio {
    background-image: url('../../Images/iconos/submenus/reporte-estudio.png');
}

.reporte-investigacion:hover,
.reporte-investigacion:active {
    background-image: url('../../Images/iconos/submenus/reporte-investigacion-h.png');
}

.reporte-investigacion {
    background-image: url('../../Images/iconos/submenus/reporte-investigacion.png');
}

.reporte-reporte:hover,
.reporte-reporte:active {
    background-image: url('../../Images/iconos/submenus/reporte-reporte-h.png');
}

.reporte-reporte {
    background-image: url('../../Images/iconos/submenus/reporte-reporte.png');
}

.reporte-reportedeincidentes:hover,
.reporte-reportedeincidentes:active {
    background-image: url('../../Images/iconos/submenus/reporte-reportedeincidentes-h.png');
}

.reporte-reportedeincidentes {
    background-image: url('../../Images/iconos/submenus/reporte-reportedeincidentes.png');
}

.reporte-reporteenfermedad:hover,
.reporte-reporteenfermedad:active {
    background-image: url('../../Images/iconos/submenus/reporte-reporteenfermedad-h.png');
}

.reporte-reporteenfermedad {
    background-image: url('../../Images/iconos/submenus/reporte-reporteenfermedad.png');
}

.revision-revisiondelsg-sst:hover,
.revision-revisiondelsg-sst:active {
    background-image: url('../../Images/iconos/submenus/revision-revisiondelsg-sst-h.png');
}

.revision-revisiondelsg-sst {
    background-image: url('../../Images/iconos/submenus/revision-revisiondelsg-sst.png');
}