@model SG_SST.Models.Organizacion.Fase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Fase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Fase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pk_Id_Fase }) |
    @Html.ActionLink("Back to List", "Index")
</p>
