@{
    ViewBag.Title = "Mostrar temática PDF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .pdf-cargar-otras-intenciones {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
    }
       .pdf-cargar {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    


</style>

<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/Content/miga-de-pan.css" rel="stylesheet">
<!-- Referencia a botones -->
<link rel="stylesheet" href="~/Content/css/specialbuttons.css">

<div class="pdf-cargar">

</div>
<br />

<div class="row">
    <div class="col-md-3" style="margin-bottom:15px">
    </div>
</div>
@*</div>*@
