body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


/*
input,
select,
textarea {
   max-width:280px;
}
*/
input,
select {
    max-width: 280px;
}

textarea {
    align-content: center;
}

    textarea.idpolitica {
        max-width: 500px;
        background-color: blue;
    }

#background-head {
    background: #ff0000;
}


.encabezado {
    background-color: #ffaf4b;
}

.tbr {
    background-color: #FF7500;
    justify-content: center;
}

.grabar {
    background-color: #FF7500;
    color: white;
    border-radius: 5px;
    padding-bottom: 10PX;
}

    .grabar:hover {
        background-color: #ff6a00;
        color: whitesmoke;
    }

.titulos_tabla {
    background-color: #FF7500;
    color: white;
    font-size: small;
}

.ti {
    color: #FF7500;
}

textarea {
    align-content: center;
}

    textarea.vision {
        max-width: 90%;
    }


.not-active {
    pointer-events: none;
    cursor: default;
}

.titulosVerticales {
    vertical-align:middle;
    transform: rotate(270deg);   
}

table {
    text-align:center;
}


 .test + .tooltip > .tooltip-inner {
      background-color: #F2FBEF;
      color: black; 
      border: 1px solid #FF7500; 
      padding: 15px;
      max-width: 100%;      
      font-size: 10px;
      box-shadow:2px 3px 2px 2px Orange;
      
  }
 .my-error-class {
    color:#FF7500;
}
 .pdf{
  border-collapse: separate;
  border-spacing:  3px;


.titulo_peligros {
color:white;
font-size:medium ;
background-color:#ffaf4b;

}

.tablarequisitos-titulo{

border: red 5px solid;
}